  .moduleButton {
    height: 1em;
    margin: 5px;
    border-width: 1px;
    border-color: black;
  }

  .formButton {
    height: 2em;
    width: 5em;
    margin: 5px;
    border-width: 1px;
    border-color: black;
  }

  .arteeeLogo {
    height: 16.5em;
    width: 16.5em;
  }